.dice {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
